/*  ---  HEADER  ---  */

.header-bsen {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.header__container-bsen {
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left-bsen h1 {
    color: var(--color-bg2);
}

.header__left-bsen p {
    margin: 1rem 0 2.4rem;
}


/*  ---  BSEN CATEGORIES  ---  */

.categories-bsen {
    background: var(--color-gray-200);
    height: 32rem;
}

.categories-bsen h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container-bsen {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left-bsen {
    margin-right: 4rem;
}

.categories__left-bsen h1 {
    color: var(--color-bg2);
}

.categories__left-bsen p {
    margin: 1rem 0 3rem;
}

.categories__right-bsen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category-bsen {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category-bsen:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.category-bsen:nth-child(2) .category__icon-bsen {
    background: var(--color-danger);
}

.category-bsen:nth-child(3) .category__icon-bsen {
    background: var(--color-success);
}

.category-bsen:nth-child(4) .category__icon-bsen {
    background: var(--color-warning);
}

.category-bsen:nth-child(5) .category__icon-bsen {
    background: var(--color-success);
}

.category__icon-bsen {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category-bsen h5 {
    margin: 2rem 0 1rem;
    color: var(--color-gray-100);
}

.category-bsen p {
    font-size: 0.85rem;
    color: var(--color-gray-100);
}


/*  ---  SECTION  ---  */

.bsen {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.bsen__container {
    display: grid;
    grid-template-columns: 60% 29%;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.bsen__right-image {
    border: 0.5rem solid var(--color-gray-200);
    height: fit-content;
    overflow: hidden;
    transition: var(--transition);
    object-fit: fill;
}

.bsen__left h1 {
    color: var(--color-bg2);
}

.bsen__left p {
    margin: 1rem 0 2.4rem;
}


/*  ---  MEDIA QUERIES (TABLETS)  ---  */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }


    /*  ---  HEADER  ---  */

    .header__bsen {
        height: 70vh;
        margin-bottom: 2rem;
    }


    /*  ---  CATEGORIES  ---  */

    .categories-bsen {
        height: auto;
    }

    .categories__container-bsen {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories__left-bsen {
        margin-right: 0;
    }


    /*  ---  BSEN  ---  */

    .bsen {
        height: 70vh;
        margin-bottom: 2rem;
    }
}


/*  ---  MEDIA QUERIES (PHONES)  ---  */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }


    /*  ---  HEADER  ---  */

    .header__bsien {
        height: 110vh;
    }

    .header__container-bsen {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header__left-bsen p {
        margin-top: 1.3rem;
    }

    .header__right-bsen {
        display: none;
    }


    /*  ---  CATEGORIES  ---  */

    .category-bsias {
        padding: 1rem;
        border-radius: 1rem;
    }

    .categories__right-bsen {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category__icon-bsen {
        margin-top: 4px;
        display: inline-block;
    }


    /*  ---  SECTION  ---  */

    .bsen {
        height: 90vh;
    }

    .bsen__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .bsen__left p {
        margin-top: 1.3rem;
    }
    
    .bsen__right-image {
        display: none;
    }
}