/*  ---  HEADER  ---  */
.header-bsias {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.header__container-bsias {
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left-bsias h1 {
    color: var(--color-bg2);
}
.header__left-bsias p {
    margin: 1rem 0 2.4rem;
}

/*  ---  BSIAS CATEGORIES  ---  */
.categories-bsias {
    background: var(--color-gray-200);
    height: 32rem;
}
.categories-bsias h1 {
    line-height: 1;
    margin-bottom: 3rem;
}
.categories__container-bsias {
    display: grid;
    grid-template-columns: 40% 60%;
}
.categories__left-bsias {
    margin-right: 4rem;
}
.categories__left-bsias h1 {
    color: var(--color-bg2);
}
.categories__left-bsias p {
    margin: 1rem 0 3rem;
}
.categories__right-bsias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.category-bsias {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.category-bsias:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.category-bsias:nth-child(2) .category__icon-bsias {
    background: var(--color-danger);
}
.category-bsias:nth-child(3) .category__icon-bsias {
    background: var(--color-success);
}
.category-bsias:nth-child(4) .category__icon-bsias {
    background: var(--color-warning);
}
.category-bsias:nth-child(5) .category__icon-bsias {
    background: var(--color-success);
}
.category__icon-bsias {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category-bsias h5 {
    margin: 2rem 0 1rem;
    color: var(--color-gray-100);
}
.category-bsias p {
    font-size: 0.85rem;
    color: var(--color-gray-100);
}

/*  ---  SECTION  ---  */
.bsias {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.bsias__container {
    display: grid;
    grid-template-columns: 60% 29%;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.bsias__right-image {
    border: 0.5rem solid var(--color-gray-200);
    height: fit-content;
    overflow: hidden;
    transition: var(--transition);
    object-fit: fill;
}
.bsias__left h1 {
    color: var(--color-bg2);
}
.bsias__left p {
    margin: 1rem 0 2.4rem;
}

/*  ---  MEDIA QUERIES (TABLETS)  ---  */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    /*  ---  HEADER  ---  */
    .header__bsias {
        height: 70vh;
        margin-bottom: 2rem;
    }

    /*  ---  CATEGORIES  ---  */
    .categories-bsias {
        height: auto;
    }
    .categories__container-bsias {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories__left-bsias {
        margin-right: 0;
    }

    /*  ---  BSIAS  ---  */
    .bsias {
        height: 70vh;
        margin-bottom: 2rem;
    }
}

/*  ---  MEDIA QUERIES (PHONES)  ---  */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    /*  ---  HEADER  ---  */
    .header__bsias {
        height: 110vh;
    }
    .header__container-bsias {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header__left-bsias p {
        margin-top: 1.3rem;
    }
    .header__right-bsias {
        display: none;
    }

    /*  ---  CATEGORIES  ---  */
    .category-bsias {
        padding: 1rem;
        border-radius: 1rem;
    }
    .categories__right-bsias {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category__icon-bsias {
        margin-top: 4px;
        display: inline-block;
    }

    /*  ---  SECTION  ---  */
    .bsias {
        height: 90vh;
    }
    .bsias__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .bsias__left p {
        margin-top: 1.3rem;
    }
    .bsias__right-image {
        display: none;
    }
}